:root {
  --color: black;
  --font-size: 15px;
  --medium-gap: 10px;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
}
p {
  color: var(--color);
}
.button {
  background-color: blue;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 8px;
}
.button--random {
  background-color: green;
}
.Wrapper {
  background-color: darkgray;
  border: solid thin black;
  border-radius: 4px;
  margin: 0 auto;
  padding: 8px;
  width: 300px;
}

.flex {
  display: flex;
  gap: var(--medium-gap);
}

.flex--column {
  flex-direction: column;
}

.screen-reader-text {
  left: -9999px;
  position: absolute;
  top: -9999px;
}
